.boton1{
    height: 30px;
    width: 80px;
    background-color: rgb(207, 207, 47);
    color: black;
    box-shadow: 3px 3px 10px;
    border: 2px solid black;
    margin-top: 20px;
}

.contenedor{
    width: 70%;
    border: 3px solid black;
    box-shadow: 3px 3px 10px;
    border: 3px solid black;
}

.linea{
    display: flex;
    justify-content: space-around;
}

h1{
    display: inline;
}

body{
    padding-top: 50px;
    padding-left: 50px;
    font-family: monospace;
}

p{
    text-align: start;
    font-family: monospace;
    font-size: 20px;
    margin-left: 100px;
}
